body {
    font-family: Arial, sans-serif;
    background-color: #ebf6f8;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    font-size: xx-large;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    padding-top: 20px;
    
}

input, textarea, select {
    width: auto;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container{
    text-align: center;
}

